html {
    background-color: #102214;
}

@media (max-width: 768px) {
    #workspace {
        flex-direction: column !important;
    }
    input, textarea {
        font-size: 16px !important;
    }
}